<template>
  <table class="grid">
    <thead>
      <tr>
        <td :key="value.id" v-for="(value) in columnConfig">
          {{ value?.displayName ?? value.field }}
        </td>
      </tr>
    </thead>
    <tbody>
      <tr :key="String(row.id)" v-for="(row) in config.store.data.items">
        <td :key="`${row.id}_${col.id}`" v-for="(col) in columnConfig">
          <component :is="col.component" v-bind="getCellConfig(col, row)" />
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script lang="ts">
import { IColumnProperties, IRegistryParams, CellProps } from '@/models/components/RegistryParameters';
import { IListDto } from '@/models/IListDto';
import {
  computed, defineComponent, onMounted, PropType,
} from 'vue';
import CreateRegistryCell from './BaseRegistryCell';

class RegistryFactory<TDto extends IListDto<unknown> = IListDto<unknown>> {
  // eslint-disable-next-line class-methods-use-this
  define() {
    return defineComponent({
      setup(props) {
        onMounted(async () => {
          await props.config.store.fetchAsync();
        });

        const columnConfig = computed(
          (): IColumnProperties<TDto>[] => props.config.columns.map((x) => ({
            ...x,
            id: x.id ?? `${x.field}_${x.displayName}`,
            component: x.component ?? CreateRegistryCell<TDto>(),
          })),
        );

        function getCellConfig(colProps: IColumnProperties<TDto>, row: TDto)
        : CellProps<TDto> {
          return {
            columnDefinition: colProps,
            row,
            store: props.config.store,
          } as CellProps<TDto>; //
        }

        return { columnConfig, getCellConfig };
      },
      props: {
        config: {
          type: Object as PropType<IRegistryParams<TDto>>,
          required: true,
        },
      },
    });
  }
}

const main = new RegistryFactory().define();

export function Registry<T extends IListDto<unknown>>() {
  return main as unknown as ReturnType<RegistryFactory<T>['define']>;
}

export default main;
</script>

<style>
.grid thead,
.grid tbody,
.grid td,
.grid tr {
  border: black solid;
}
.grid td {
  padding: 5px;
}
</style>
