<template>
  <div class="home">
    <ol :key="item.id" v-for="item in store.data.items">
      <li><p>{{item.name}} - {{item.description}} - {{item.price}}</p>
        <input v-model="item.name" />
      </li>
    </ol>
  </div>
  <button @click="onClick">Test</button>
</template>

<script setup lang="ts">
import createRegistryStore from '@/store/storeTest';
import { onMounted } from 'vue';

// import { ref } from 'vue';
const store = createRegistryStore(1)();

onMounted(async () => {
  await store.fetchList();
});

let pep = 0;
function onClick() {
  store.data.items.push({
    name: `Apple_${pep += 1}`, description: 'keke', id: pep, price: 123,
  });
}
</script>
