<template>
  <div id="MainLayout">
    <DataRegistry :config="RegistryParams" />
  </div>
</template>

<script setup lang="ts">
import { Registry } from '@/components/BaseRegistry.vue';
import { IFoodListDto } from '@/models/FoodListDto';
import { IRegistryParams } from '@/models/components/RegistryParameters';
import createRegistryStore from '@/store/storeTest';

const DataRegistry = Registry<IFoodListDto>();
const store = createRegistryStore(1)();

const RegistryParams: IRegistryParams<IFoodListDto> = {
  store,
  columns: [
    {
      field: 'name',
      displayName: 'Наименование',
    },
    {
      field: 'price',
      displayName: 'Цена',
      transform: (input) => `${input} ₱`,
    },
  ],
};

</script>

<style>
#MainLayout {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  max-width: 1240px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: #d6d6d662;
}
</style>
